@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1d232a;
  height: 100vh;
}

.tab-container {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  // border-bottom: 1px solid white;

  &::-webkit-scrollbar {
    display: none;
  }

  @apply p-2;

  .tab {
    @apply w-48;
    @apply h-10;
    @apply py-2;
    @apply border-white border-b-2;

    color: white;
    transition: 0.2s border;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;


    img {
      @apply h-5 w-5;
      @apply mx-2; // adjust as needed
    }

    p {
      flex-grow: 1;
      min-width: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover,
    &.active {
      @apply bg-slate-600/25;
      @apply border-b-4;

      .close {
        opacity: 1;
      }
    }

    .close {
      @apply pr-2;
      @apply cursor-pointer;
      opacity: 0;
    }
  }

  .newtab {
    @apply w-10;
    @apply pl-0;
    @apply justify-center;
    @apply border-none;
    @apply self-end;
  }
}

iframe {
  height: 100%;
  width: 100%;
}

.toolbar {
  background-color: #242d36;
  display: flex;
  @apply gap-2;
  @apply p-2;

  .action {
    @apply h-10;
    @apply py-2;
    @apply w-10;
    @apply pl-0;
    @apply flex justify-center items-center;
    @apply hover:bg-slate-600/25;

    color: white;
    cursor: default;
  }

  .url {
    @apply flex-1;
    @apply bg-slate-600/25;
    @apply pl-3;
    cursor: text;

    &:focus {
      outline: none;
    }
  }
}

.frame {
  height: calc(100vh - 56px);

  iframe {
    height: calc(100% - 56px);
  }
}

#root {
  height: 100vh;
  width: 100vw;
}

#settings {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;

  h1 {
    @apply text-6xl;
    @apply font-bold;
  }

  input {
    @apply h-10;
    @apply py-2;
    @apply w-96;
    @apply pl-0;
    @apply bg-slate-600/25;
    @apply pl-3;
    cursor: text;
    text-align: center;

    &:focus {
      outline: none;
    }
  }

  @apply pb-32;

}